@font-face {
  font-family: "iconfont"; /* Project id 3390372 */
  src: url('../iconfont.woff2?t=1669534304931') format('woff2'),
       url('../iconfont.woff?t=1669534304931') format('woff'),
       url('../iconfont.ttf?t=1669534304931') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-chayin:before {
  content: "\e60d";
}

.icon-shanchu2:before {
  content: "\e609";
}

.icon-31pinglun:before {
  content: "\e60a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-paixingbang:before {
  content: "\e6c5";
}

.icon-shanchu1:before {
  content: "\e663";
}

.icon-diantai1:before {
  content: "\e621";
}

.icon-huiyuan:before {
  content: "\e619";
}

.icon-huiyuanjifen:before {
  content: "\e6b0";
}

.icon-pinglun1:before {
  content: "\e665";
}

.icon-huiyuan1:before {
  content: "\e60b";
}

.icon-paihangbang:before {
  content: "\e62a";
}

.icon-huiyuan2:before {
  content: "\e683";
}

.icon-diantai2:before {
  content: "\e693";
}

.icon-diantai3:before {
  content: "\e60c";
}

.icon-shouye:before {
  content: "\e608";
}

.icon-zhuye:before {
  content: "\e69e";
}

.icon-zhibo:before {
  content: "\e8c1";
}

.icon-diantai:before {
  content: "\e636";
}

.icon-gedan:before {
  content: "\e637";
}

.icon-shipin:before {
  content: "\e63d";
}

.icon-zhibo1:before {
  content: "\e74f";
}

.icon-tuijian:before {
  content: "\e629";
}

.icon-yinle:before {
  content: "\e61b";
}

.icon-shipin1:before {
  content: "\e640";
}

.icon-chazhaoyonghu:before {
  content: "\e600";
}

.icon-tianjiayonghu:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-31sousuo:before {
  content: "\e603";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-send:before {
  content: "\e6a7";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-shangjiantou:before {
  content: "\e604";
}

.icon-xiajiantou1:before {
  content: "\e605";
}

.icon-youjiantou:before {
  content: "\e606";
}

.icon-zuojiantou:before {
  content: "\e607";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e62d";
}

.icon-yunhang:before {
  content: "\ec61";
}

.icon-fasong:before {
  content: "\e647";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-ellipsis:before {
  content: "\eb10";
}

.icon-jurassic_user:before {
  content: "\e6a5";
}

